#container {
    gap: 2px;
}

header {
    background: var(--background-color-6);
}

main{
    background: var(--background-color-6); 
    display: flex; 
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

#form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--form-border-radius);
    background-color: transparent;
    font-size: 1.5rem;
    margin-bottom: 5px;
    border: 2px solid var(--cor-fonte-5);
}

#form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--form-border-radius);
    font-size: 1rem;
    margin-bottom: 5px;
    border: 2px solid var(--cor-fonte-5);
    min-height: 25px;  
}

#form select{
    width: 20vh;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--form-border-radius);
    font-size: 1.5rem;
    margin-bottom: 5px;
    border: 2px solid var(--cor-fonte-5);
    min-height: 25px;  
}


.btnCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: var(--form-border-radius);
    border: 2px solid var(--cor-fonte-5);
    background: var(--background-color-3);
    font-size: 2rem;
    font-weight: bold;
}


/* Estilo responsivo*/
@media (min-width: 700px){
    .recuperar-senha:hover {
        cursor: pointer; 
        text-decoration: underline;
        color: var(--cor-fonte-1);
    }

    .entrar:hover {
        cursor: pointer;
        font-size: 3rem;
        color:var(--cor-fonte-6);
    }
}
