footer{
    display: flex;
    flex-direction: column;
    gap: 5 px;
    background: var(--background-color-3);
    color: var(--cor-fonte-6);
    text-align: center;
    padding: 20px 10px;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: var(--cor-fonte-6);
    margin: 0 10px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a span{
    font-size: 0;
}

.social-icons a:hover {
    color: var(--cor-fonte-6);
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Estilo responsivo*/
@media (min-width: 700px){
    .social-icons{
        display: flex;
        flex-direction: column;
    }

    .social-icons a{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .social-icons a span{
        padding-left: 20px;
        font-size: 1rem;
        font-weight: bold;

    }
    .ContatosEmpresa {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5 px;
    }
}