#container {
    gap: 2px;
}

header {
    background: var(--background-color-6);
}

main{
    background: var(--background-color-6);   
}

.form{
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    min-height: 60px;
    border-radius: var(--form-border-radius);
    background-color: transparent;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-width: 25vh;
}

.entrar {
    background: var(--background-color-4);
    border: 4px solid var(--background-color-5);
    border-radius: var(--form-border-radius);
    font-size: 2rem;
    color:var(--cor-fonte-6);
}

.recuperar-senha {
    margin-top: 20px;
    display: block; 
    text-align: center; 
    text-decoration: none; 
    font-size: 1rem; 
    font-weight: bold;
    color: var(--cor-fonte-2);
}





/* CONTAINER GERAL DA SEÇÃO */
.produtos-container {
    padding: 20px;
    background: var(--background-color-6);
}

/* TÍTULO */
.titulo-secao {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--cor-fonte-1);
}

/* GRID DOS PRODUTOS */
.produtos-grid {
    display: grid;
    grid-template-columns: 1fr; /* CELULAR */
    gap: 20px;
}

/* CARD DO PRODUTO */
.produto-card {
    background: var(--background-color-5);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0003;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGEM */
.produto-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/* TÍTULO DO PRODUTO */
.produto-titulo {
    margin: 10px 0 5px;
    font-size: 1.3rem;
    color: var(--cor-fonte-1);
    text-align: center;
}

/* PREÇO */
.produto-preco {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--cor-fonte-2);
    margin-bottom: 15px;
}

/* BOTÕES */
.produto-botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-comprar,
.btn-saibamais {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.btn-comprar {
    background: #28a745; /* verde */
}

.btn-saibamais {
    background: #007bff; /* azul */
}

/* Estilo responsivo*/
@media (min-width: 700px){
    .recuperar-senha:hover {
        cursor: pointer; 
        text-decoration: underline;
        color: var(--cor-fonte-1);
    }

    .entrar:hover {
        cursor: pointer;
        font-size: 3rem;
        color:var(--cor-fonte-6);
    }

    .produtos-grid {
        grid-template-columns: repeat(3, 1fr); /* DESKTOP */
    }

    .btn-comprar:hover {
        background: #1e7e34;
    }

    .btn-saibamais:hover {
        background: #0062cc;
    }

    .produto-card:hover {
        transform: scale(1.02);
        transition: 0.2s;
    }
}
