/* header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* logo */
#logoPequena {
  margin: 2px;
}

.logoPequenaImg {
  max-width: 10vh;
}

/* nome da loja e frase */
#nome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nome h1 {
  margin: 0;
  font-size: 1.3rem;
  color: var(--cor-fonte-1);
}

#nome h4 {
  font-size: 0.7rem;
  color: var(--cor-fonte-2);
}

/* Ícone hambúrguer (somente mobile) */
.menu-toggle {
  display: block;
  color: var(--cor-fonte-1);
  font-size: 30px;
  cursor: pointer;
}

/* Menu principal */
#menu {
  display: none; /* escondido inicialmente (modo celular) */
  width: 100%;
  background: var(--background-color-4);
}

#menu.active {
  display: block; /* aparece ao clicar no ícone */
}

#menu ul {
  flex-direction: column;
  padding: 10px;
}

#menu ul li {
  margin: 10px 0;
}

#menu ul li a {
  color: var(--cor-fonte-6);
  text-decoration: none;
}

/* navbar do menu externo - texto*/
#navBarExterno {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBarExterno a{
    text-decoration: none;
}

#navBarExterno h4{
    color: var(--cor-fonte-2);
    font-size: 1.2rem;
}

#navBarExterno span{
    display: block;
}

/* --------- MODO DESKTOP --------- */
@media (min-width: 700px) {
  #menu {
    display: block; /* <== ESSA LINHA É A MAIS IMPORTANTE */
  }

  /* esconde o ícone hambúrguer */
  #navBar i {
    display: none;
  }

  /* organiza o menu na horizontal */
  #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: var(--background-color-6);
    padding: 10px;
    list-style: none;
  }

  #menu ul li {
    margin: 0;
  }

  #menu ul li a {
    color: var(--cor-fonte-1);
    text-decoration: none;
    font-size: 1rem;
  }
}
